{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="{% static 'style.css' %}" rel="stylesheet" />

</head>
<body>

    <a href="{% url 'ver_carrito' %}" class="btn btn-light btn-back">
            <i class="bi bi-arrow-left"></i> Volver
    </a>


<div class="container d-flex justify-content-center align-items-center mt-5" style="min-height: 70vh;">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
        <div class="card-body">
            <h2 class="text-center  mb-5">Selecciona metodo de entrega y pago</h2>

            <form method="POST">
                {% csrf_token %}
                
                <div class="mb-3">
                <label class="form-label"><strong>Total a pagar: ${{total}}</strong></label><br>
                </div>

                <hr>
                <div class="mb-3">
                <label class="form-label"><strong>Método de entrega:</strong></label><br>
                </div>

                <div class="mb-3">
                    <label for="tienda">Despacho a domicilio</label>
                    <input type="radio" name="entrega" value="despacho" id="despacho" checked>
                </div>
                <div class="mb-3">
                    <label for="tienda">Entrega en tienda</label>
                    <input type="radio" name="entrega" value="tienda" id="tienda">
                </div>


                <div id="sucursalesDiv" class="mb-1" style="display: none;">
                    <label for="sucursal" class="form-label"><B>Selecciona una tienda</B></label>
                    <select name="sucursal" id="sucursal" class="form-select">
                        <option value="">Viña del Mar, Álvarez 1822</option>
                        <option value="">Valparaíso, Barón 1345</option>
                        <option value="">Santiago, Av. Grecia 12</option>
                    </select>
                </div>
                <hr>
                <div class="mb-3">
                    <label class="form-label"><strong>Método de pago:</strong></label><br>
                    <label for="webpay" class="d-flex align-items-center" style="cursor: pointer;">
                        <img src="{% static 'fotos/manual-header-webpay-12-removebg-preview.png' %}" alt="WebPay" style="height: 50px; ">
                    </label>
                    <input type="radio" name="pago" value="webpay" id="webpay" checked>
                </div>
                <hr>
                <a href="{% url 'webpay' %}" class="btn btn-outline-secondary w-100">Confirmar y Pagar</a>
                <br>
                <br>
                {% if mensaje %}
                    <p style="color:red;">{{ mensaje }}</p>
                 {% endif %}
            </form>
        </div>
    </div>
</div>

<script>
    // Mostrar/ocultar sucursales
    const tiendaRadio = document.getElementById('tienda');
    const despachoRadio = document.getElementById('despacho');
    const sucursalesDiv = document.getElementById('sucursalesDiv');

    tiendaRadio.addEventListener('change', () => {
        if (tiendaRadio.checked) {
            sucursalesDiv.style.display = 'block';
        }
    });

    despachoRadio.addEventListener('change', () => {
        if (despachoRadio.checked) {
            sucursalesDiv.style.display = 'none';
        }
    });
</script>

</body>
</html>