{% extends 'navbar.html' %}
{% load static %}
{% block body %}
<br>
    {% if request.session.admin_id %}
    <p class="form-control" style="margin-left: 20px; max-width: 220px;"> Sucursal de {{ sucursal }}</p>
    {% else %}
        <div class="container text-center mt-1">
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="id_sucursal" value="1" class="btn btn-primary m-2">Viña del Mar</button>
            <button type="submit" name="id_sucursal" value="2" class="btn btn-success m-2">Valparaíso</button>
            <button type="submit" name="id_sucursal" value="3" class="btn btn-warning m-2">Santiago</button>
        </form>
    </div>
    {% endif %}

    <div class="container mt-3 mb-5 padding-bottom: 3rem;">
    <form class="d-flex justify-content-center" method="get" role="search">
        <input class="form-control me-2 w-50" type="search" name="q" placeholder="Buscar Productos" aria-label="Search">
        <button class="btn btn-outline-success me-2" type="submit">Buscar</button>

        {% if request.GET.q %}
            <a href="{% url 'home' %}" class="btn btn-outline-secondary">Limpiar</a>
        {% endif %}
    </form>
    <br>
    <br>
    {% if request.session.usuario_id or request.session.admin_id %}
    <h2 class="mb-5" style="text-align: center;">Bienvenido, {{ nombre }}</h2>
    {% else %}
    <h2 class="mb-5" style="text-align: center;">Productos Destacados</h2>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for producto in productos %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <br>
                    {% if producto.imagen_url %}
                        <img src="{{ producto.imagen_url }}" alt="Imagen de {{ producto.nombre }}" class="card-img-top" style="max-height: 200px; object-fit: contain;">
                    {% endif %}
                    <br>
                    <p class="card-text descripcion" title="{{ producto.descripcion }}">{{ producto.descripcion }}</p>
                    <p class="text-muted">{{ producto.marca }}</p>
                    <p><strong>${{ producto.precio }}</strong></p>
                    <p>USD: ${{ producto.precio_usd }}</p>
                    <p>EUR: €{{ producto.precio_eur }}</p>
                    <p>ARS: ${{ producto.precio_ars }}</p>
                    <p class="text-muted">Quedan {{ producto.cantidad }} unidades</p>

                    <hr>
                    <p class="card-text">{{ producto.categoria }}</p>
                    {% if not producto.is_active %}
                        {% if request.session.admin_id %}
                            <p class="text-muted">PRODUCTO DESACTIVADO</p>
                        {% endif %}
                    {% endif %}
                    <br>
                        {% if request.session.admin_id %}
                        <a href="{% url 'modificar_prod' producto.id_producto %}" class="btn btn-outline-danger w-100">
                            <i class="bi bi-cart-plus"></i> Modificar Producto
                        </a>
                        {% else %}
                            {% if producto.cantidad > 0 %}
                                {% if producto.is_active %}
                                    <form action="{% url 'agregar_al_carrito' producto.id_producto %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-primary w-100">
                                            <i class="bi bi-cart-plus"></i> Agregar al carrito
                                        </button>
                                    </form>
                                {% else %}
                                    <button type="button" class="btn btn-outline-secondary w-100" disabled>
                                        <i class="bi bi-cart-plus"></i> Producto no disponible
                                    </button>
                                {% endif %}
                            {% else %}
                                <button type="button" class="btn btn-outline-danger w-100" disabled>
                                    <i class="bi bi-cart-plus"></i> Producto sin stock
                                </button>
                            {% endif %}
                        {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>



</body>

{% endblock %}
