{% extends 'navbar.html' %}
{% load static %}
{% block body %}


<div class="container mt-5 pb-5 padding-bottom: 3rem;">
    <br>
    <br>
    <h2 class="mb-5" style="text-align: center;">Mi Perfil de Usuario</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col-md-4">
            <div class="card  shadow-sm">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title" style="text-align: center;"> Datos Personales</h5>
                    <hr>
                    <div class="mb-1">
                        <label for="nombre" class="form-label"><b>Nombre completo</b></label>
                        <p name="nombre" class="form-control"> {{ d.nombre }}</p>
                    </div>
                    <div class="mb-1">
                        <label for="rut" class="form-label"><b>R.U.T</b></label>
                        <p name="rut" class="form-control"> {{ d.rut }}</p>
                    </div>
                    <div class="mb-1">
                        <label for="correo" class="form-label"><b>Correo Electrónico</b></label>
                        <p name="correo" class="form-control"> {{ d.correo }}</p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title" style="text-align: center;">Pedidos realizados</h5>
                    <hr>
                    {% for pedido in pedidos %}
                        <p class="card-text"><b>Id Pedido:</b> {{pedido.id_pedido}}</p>
                        <p class="card-text"><b>Producto:</b> {{pedido.producto}}</p>
                        <p class="card-text"><b>Precio unitario:</b> {{pedido.precio}}</p>
                        <p class="card-text"><b>Cantidad:</b> {{pedido.cantidad}}</p>
                        <p class="card-text"><b>Subtotal: </b>${{pedido.total}}</p>
                        <p class="card-text"><b>Metodo de entrega:</b> {{pedido.entrega}}</p>
                        <p class="card-text"><b>Lugar de retiro:</b> {{pedido.sucursal}}</p>
                        <p class="card-text"><b>Fecha de compra:</b> {{pedido.fecha}}</p>
                        <hr>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}